# Variables de entorno obligatorias
DISCORD_TOKEN=tu_token_del_bot_desde_discord_developer_portal
CLIENT_ID=tu_client_id_desde_discord_developer_portal
GUILD_ID=tu_guild_id_del_servidor_de_desarrollo

# Variables opcionales para Spotify
SPOTIFY_CLIENT_ID=tu_client_id_desde_spotify_developer
SPOTIFY_CLIENT_SECRET=tu_client_secret_desde_spotify_developer